.outer {
    margin-top: 230px;
    width: 100%;
    background-color: #f8f8f8;
    position: relative;
    min-height: 100vh;

}
.container {
    display: flex;
    flex-direction: column;
    width: 1600px;
    margin: 0 auto;
    background-color: white;
    top: -100px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.inner {
    width: 100%;
    padding: 10px 40px;
}

.classNumber {
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 0 auto;
    text-align: center;
    font-size: 32px;
}

.btnToBack {
    position: absolute;
    top:0;
    left: 0;
    padding: 14px 20px;
    transition: all 0.2s ease;
}
.btnToBack:hover {
    background-color: #DBD7D2;
}

.top {
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 0 auto;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
}
.top div {
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 0 auto;
    text-align: center;
    font-size: 32px;
}

.addSprint {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
}
.addSprint div {
    width: 80%;
}
.addText {
    outline: none;
    color: black;
    border: none;
    font-size: 18px;
    border-bottom: 1px solid black;
    min-width: 20%;
    max-width: 50%;
    overflow: hidden;
    resize: horizontal;
    height: 40px;
}
.addBtn {
    display: block;
    border: 1px solid black;
    outline: none;
    color: white;
    font-size: 16px;
    padding: 2px 10px;
    background-color: #c62641;
    cursor: pointer;
    transition: all 0.2s ease;
}

.addBtn:hover {
    background-color: #F45D76;
}
