.container {
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    border-radius: 10px;
    width: 100%;
    background-color: white;
}

.outer {
    background-color: #f8f8f8;
    padding: 0 10px;
    margin: 0 auto 30px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top div {
    font-size: 22px;
    text-decoration: underline;
}

.sprintName {
    width: 60%;
}

.row {
    display: flex;
    align-items: center;
}
.content {
    margin:  0 0 0 auto;
    display: none;
}

.taskName {
    width: 50%;
}

.changeTask {
    border-bottom: 1px solid black;
    transition: all 0.4s ease;
}

.changeTask:hover {
    box-shadow: 0 5px 5px rgba(0,0,0,0.2)
}

.link {
    border: 1px solid black;
    padding: 2px 5px;
    border-radius: 5px;
}

.done {
    color: #4caf50;
    width: 5%;
    text-align: center;
}
.done img {
    padding-top: 5px;
    width: 32px;
}
.fail {
    color: red;
    width: 5%;
    text-align: center;
}
.fail img {
    padding-top: 5px;
    width: 32px;
}
.noTask {
    padding-bottom: 10px;
}

.addTask {
    display: block;
    width: max-content;
    margin: 0 auto;
    outline: none;
    border:2px solid black;
    padding: 5px 10px;
    background-color: white;
    text-align: center;
    transition: all 0.2s ease;
    cursor: pointer;
}
.addTask:hover {
    background-color: #ccc;
}

.buttons {
    background-color: white;
}
.btn {
    outline: none;
    background-color: white;
    border: 1px solid black;
    margin: 5px;
    padding: 5px 10px;
    transition: 0.3s all ease;
    cursor: pointer;
}

.btn:hover {
    background-color: #ccc;
}

.changeInput {
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    padding: 5px 10px;
}

/*Стрелочка*/
.arrow {
    position: relative;
    cursor: pointer;
    margin:20px;
    width: 66px;
    height: 30px;
}
.arrowLeft {
    position: absolute;
    background-color: transparent;
    top: 10px;
    left: 0;
    width: 40px;
    height: 10px;
    display: block;
    transform: rotate(35deg);
    float: right;
    border-radius: 2px;
}
.arrowLeft:after {
    content: "";
    background-color: #c62641;
    width: 40px;
    height: 10px;
    display: block;
    float: right;
    border-radius: 6px 10px 10px 6px;
    transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
    z-index: -1;
}

.arrowRight {
    position: absolute;
    background-color: transparent;
    top: 10px;
    left: 26px;
    width: 40px;
    height: 10px;
    display: block;
    transform: rotate(-35deg);
    float: right;
    border-radius: 2px;
}
.arrowRight:after {
    content: "";
    background-color: #c62641;
    width: 40px;
    height: 10px;
    display: block;
    float: right;
    border-radius: 10px 6px 6px 10px;
    transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
    z-index: -1;
}
.open .arrowLeft:after {
    transform-origin: center center;
    transform: rotate(-70deg);
}
.open .arrowRight:after {
    transform-origin: center center;
    transform: rotate(70deg);
}

