.taskTitle {
    font-size: 26px;
}

.backBtn {
    display: block;
    width: max-content;
    font-size: 18px;
    padding: 20px 20px;
    transition: all 0.4s ease;
    cursor: pointer;
}

.backBtn:hover {
    background-color: #9C9C9C;
}

.inner {
    padding: 10px 40px;
    background-color: #ddd;
    min-height: 1000px;
}
.topText {
    display: block;
    width: 100%;
    resize: none;
    height: 100px;
    outline: none;
    margin: 10px 0;
    font-size: 18px;
    padding: 10px;
}

.Mission, .Theory {
    margin: 10px 0;
    outline: none;
    display: block;
    width: 100%;
    height: 100px;
    max-height: 300px;
    resize: vertical;
    font-size: 18px;
    padding: 10px;

}

.topText::placeholder, .testTextarea::placeholder, .Mission::placeholder, .Theory::placeholder {
    font-size: 18px;
}

.message {
    margin: 10px 0 40px;
    font-size: 16px;
    color: #505050;
    font-weight: 600;
}

.testTextarea {
    font-size: 18px;
    padding: 10px;
}

.taskBtn {
    display: block;
    width: max-content;
    padding: 5px 10px;
    margin: 0 auto;
}

.submitBtn {
    display: block;
    width: max-content;
    padding: 5px 10px;
    margin: 10px auto;
}

.test div {
    margin: 5px 2px;
    text-align: center;
}
.testInner {
    display: flex;
    justify-content: space-between;
}
.testInner div {
    width: 50%;
}
.test div div textarea {
    display: block;
    resize: none;
    outline: none;
    width: 99%;
    overflow: hidden;
    margin: 0 auto;
    max-height: 100px;
}

.attention {
    color: red;
    width: max-content;
    margin: 0 auto;
}

.checkboxEl {
    display: flex;
    align-items: center;
}


.limitation div{
    display: flex;
    align-items: center;
}

.limitation div textarea {
    display: block;
    resize: none;
    outline: none;
    width: 100px;
    overflow: hidden;
    margin: 5px 10px;
    max-height: 100px;
}