.outer {
    padding-top: 30px;
    width: 100%;
    background-color: #c62641;
    height: 230px;
    position: fixed;
    z-index: -1;
    top: 0;

}

.container {
    display: flex;
    justify-content: space-between;
    width: 1600px;
    align-items: center;
    margin: 0 auto;
    height: 70px;
}

.name {
    display: flex;
    align-items: center;
}

.name div {
    color: white;
    font-size: 24px;
}

.name img {
    width: 64px;
    display: block;
}

.user {
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
}

.user div {
    text-decoration: underline;
    color: white;
}

.user button {
    margin-left: 10px;
}