.outer {
    padding-top: 30px;
    width: 100%;
    background-color: #c62641;
    height: 230px;
    position: fixed;
    z-index: -1;
    top: 0;

}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 1600px;
    align-items: center;
    margin: 0 auto;
    height: 70px;
    padding: 10px;
}

.name {
    display: flex;
    align-items: center;
}

.name div {
    color: white;
    font-size: 24px;
    margin-left: 20px;
}

.name a img {
    width: 48px;
    display: block;
}

.user {
    display: flex;
    color: white;
    font-size: 20px;
}

.user a {
    text-decoration: underline;
    color: white;
    transition: all 0.3s ease;
}

.user a:hover {
    color: #ccc;
}

.logout {
    margin-left: 40px;
    outline: none;
    background-color: white;
    border: none;
    transition: all 0.3s ease;
}
.logout:hover {
    background-color: #ccc;
}

