.done {
    text-align: center;
    color: #4caf50;
    font-size: 24px;
    margin-bottom: 20px;
}

.fail {
    text-align: center;
    color: red;
    font-size: 24px;
    margin-bottom: 20px;
}

.mission {
    font-size: 24px;
    padding: 10px;
}

.testContainer {
    display: flex;
    flex-wrap: wrap;
}

