.done {
    text-align: center;
    color: #4caf50;
    font-size: 24px;
    margin-bottom: 20px;
}

.fail {
    text-align: center;
    color: red;
    font-size: 24px;
    margin-bottom: 20px;
}

.mission {
    font-size: 24px;
    padding: 20px 40px;
}

.testContainer {
    display: flex;
    flex-wrap: wrap;
}
.file {
    text-align: center;
    padding: 0 40px;
    display: flex;
    justify-content: center;
    margin: 10px auto;
}

.fileName {
    margin-right: 20px;
}

